/* work scans */
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
:root {
  /* size */
  --font-size-base: 1rem;
  --font-size-18px: 18px;
  --font-sixe-20px: 20px;
  --font-sixe-45px: 45px;
  --font-sixe-64px: 64px;
  --font-sixe-65px: 65px;
  /* weight */
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  /*  main color */
  --banner-back: rgba(255, 144, 14, 0.1);
  --color-primary: #ff900e;
  --color-secondary: #fff4e7;
  --color-background: #fff;
  /* text color */
  --text-prime: #131313;
  --text-second: #727272;
  --text-rear: #424242;
  /* border */
  --border-radius: 0.5rem;
  --common-width: 514px;
  --primary-width: 586px;
  --box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  /* margin */
  --container: 0px auto;
}
a{
  text-decoration: none;
}
li {
  list-style: none;
}
header{
  background-color: var(--banner-back);
}
.banner {
 
  width: 80vw;
  margin: var(--container);
   /* max-width: 1200px;  */
}
nav>.heading{
  font-size: var(--font-sixe-45px);
  font-weight: var(--font-weight-700);
  color: var(--text-prime);
  margin-top: 50px;
    
}
ul>li>a{
  font-size: var(--font-size-18px);
  font-weight: var(--font-weight-500);
  color: var(--text-rear);
}
nav>ul{
  display: flex;
  justify-content: space-between;
/* text-align: center; */
width: 477px;
height: 26px;
margin-top: 63px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.title-container{
  width: 862px;
  text-align: center;
}
.title{
  font-size: var(--font-sixe-64px);
  font-weight: var(--font-weight-700);
text-align: center;
color:var(--text-prime);
margin:116px 0px 20px 0px;
}
.title-des{
  width: 868px;
  height: 52px;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-400);
color: var(--text-second);
text-align: center;
margin-bottom: 32px;
}
button{
  width: 180px;
  height: 64px;
  color: var(--color-background);
  font-size: var(--font-sixe-20px);
  font-weight: var(--font-weight-600);
 background-color: var(--color-primary);

 border-radius: var(--border-radius);
}
.button{
  text-align: center; 
  margin-bottom: 50px;
  
}
.banner-image>img{
  width: 100%;
  height: 100%;
}
.banner-image{
justify-content: center;
  width: 80vw;
  margin-bottom: 45px;
}
.banner-container{

display: flex;
justify-content: center;
align-items: center;
flex-direction: column; 

}
/* footer */
.footer-container{
  width:80VW;
  margin: var(--container);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;


}
.foot-title{
  font-size: var(--font-sixe-45px);
  width: var(--font-weight-700);
  color: var(--text-prime);
  margin-top: 180px;
  margin-bottom: 24px;
}
.foot-des{
color: var(--text-second);
font-size: var(--font-size-base);
font-weight: var(--font-weight-400);
margin-bottom: 50px;
width: 542px;
text-align: center;
}
.sponspor-icons{
display: flex;
justify-content: space-between;

width: 100%;

}
.icons{
  height: 50px;
  width: 182px;
  mix-blend-mode: luminosity;
}
.foot{
height: 100px;
background-color: var(--color-secondary);
display: flex;
justify-content:space-around ;
align-items: center;
margin-top: 130px;
margin-bottom: 216px;
width: 100%;
}
.foot>div{
font-size: var(--font-sixe-20px);
font-weight: var(--font-weight-400);
color: rgba(66,66,66,1);
width: 650px;
height: 23px;

}
.main-container{
  width: 80vw;
  background-color: var(--color-background);
margin: var(--container);
}
.team{
  margin-bottom: 130px;
  margin-top: 85px;
  display: flex;
  gap: 73px;
}
.team-images>.images img{
  width: 342px;
height: 342px;
object-fit: cover;
border-radius: var(--border-radius);
}
.team-images{
  display: grid;
  grid-template-columns: repeat(2,342px);
  margin-left: 61px;
  gap: 24px;
}
.about-team{
  /* margin-top: 287px;
  margin-bottom: 332px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.team-head{
width: 468px;
}
.e1{
  font-size:var(--font-sixe-45px);
  font-weight: var(--font-weight-500);
  color: var(--text-second);
}
.e2{
font-size: var(--font-sixe-45px);
font-weight: var(--font-weight-700);
color: var(--text-prime);
}
.e3{
font-size: var(--font-sixe-45px);
font-weight: var(--font-weight-700);
color: var(--color-primary);
}

.team-des{
width: 537px;
height: 78px;
color: var(--text-second);
font-size: var(--font-size-base);
font-weight: var(--font-weight-400);
margin: 24px 0px 32px 0px;

}
button{
padding: 21px 20px 24px 25px;

}